header {
  display: flex;
  align-items: center;
  background-color: #ff8000;
}

nav li {
  width: 80px; 
  display: inline-block;  
  color: #696969;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

body {
  text-align: center;
  background-color:  #808080; 
  color: #000000; 
  font-family: Georgia; 
  font-size: 16px; 
}

body {
  background: url("	https://content.codecademy.com/courses/freelance-1/unit-6/banner.png"); 
  text-align: center; 
}

